<div class="page">
  <h1>Products</h1>
  <p *ngIf="loading"> Loading products...</p>
  <p class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

  <table *ngIf="!loading && products.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products">
        <td> {{ product.id }} </td>
        <td> {{ product.name }} </td>
        <td> {{ product.description }} </td>
        <td> {{ product.price }} </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && products.length === 0">
    No products found.
  </p>
</div>